* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: var(--Magnolia);
  color: var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--White);
}

input[type="tel"],
input[type="text"],
input[type="email"] {
  padding: .6rem;
  border-radius: .5rem;
  border: 1px solid var(--Light-gray);
  margin: .6rem 0;
  width: 100%;
  font-size: 1.05em;
}

.form-container,
.steps-menu,
.form {
  display: flex;
}

.form-container {
  padding: 1rem;
  border-radius: 1em;
  gap: 4rem;
  width: 65vw;
  background-color: var(--White);
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 7px var(--Light-blue);
}

.sidebar-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.steps-menu {
  border-radius: 1rem;
  padding: 1.5rem;
  min-height: 50vh;
  flex-direction: column;
  gap: 2rem;
  background-image: url('/Multi-step-form/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  align-items: stretch;
  height: 70vh;
  flex: 1 1 30%;
}

.step-number {
  padding: .6rem .8rem;
  font-size: 1em;
  border: 1px solid var(--White);
  border-radius: 100%;
  font-weight: 700;
}

.step-number.active {
  color: var(--Marine-blue);
  background-color: var(--Light-blue);
}

.steps-info {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.step-title {
  font-size: .8em;
  font-weight: 400;
  color: var(--Cool-gray);
}

.step-description {
  font-size: 1em;
}

.form {
  flex: 0 1 70%;
  padding-right: 4rem;
  gap: .5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2rem;
  height: 65vh;
}

.form.inactive {
  display: none;
}

.form-title,
.form-paragraph {
  color: var(--Marine-blue);
}

.form-subtitle {
  color: var(--Cool-gray);
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 1rem;
}

.next-step-btn {
  background-color: var(--Marine-blue);
  color: var(--White);
  width: fit-content;
  padding: .8rem;
  margin-top: 2rem;
  border-radius: .6rem;
  align-self: flex-end;
  font-size: 1em;
  outline: none;
  cursor: pointer;
  border: none;
}

.plan-selector-container {
  display: flex;
  gap: 1.25rem;
}

.plan {
  flex: 1 0 30%;
  border-radius: .6rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--Light-gray);
}

.plan>img {
  width: 35%;
}

.plan-title {
  margin-top: 3rem;
  font-size: 1.2em;
  color: var(--Marine-blue);
}

.price {
  color: var(--Cool-gray);
}

.plan-time-container {
  margin-top: 1.7rem;
  background-color: var(--Magnolia);
  padding: .7rem;
  gap: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Marine-blue);
  font-weight: 500;
}

input[type="range"] {
  appearance: none;
  width: 10%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--Marine-blue);
  border-radius: 1rem;
  padding: .2rem;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  appearance: none;
}

:root {
  /*Primary*/
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  /*Neutral*/
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%)
}